
@import './animation.scss';
$bg-white: #f1f3f4;
$bg-grey: #d8dadb;
.pro-grid{
	padding: 30px 20px 0px 20px;
	display: flex;
	flex-wrap:wrap;
	gap: 20px;
	content-visibility: auto;
	contain-intrinsic-size: 100vh;
  justify-content: space-between;
}
.loading-card{
    border-radius: 5px;
    width: 240px;
    height: 300px;
    box-shadow: 0px 3px 5px -2px rgb(5 0 10 / 40%);
}
.card-skeleton{
  background-image: linear-gradient(90deg, $bg-white 25%, $bg-grey 37%, $bg-white 63%);
  list-style: none;
  background-size: 400% 100%;
  background-position: 100% 50%;
  animation: skeleton-loading 1.4s ease infinite;
}